<html>

<head>
<title>NEWS</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbard-dark bg-dark">
<a href="#" class="navbar-brand mx-auto"> NEWS </a>
</nav>
<p> aqui un arreglo que debemos recorrer</p>

<div class="row">
<div class="col-md-6 mt-4 text-center">
<table class="table table-striped">
<tr>
 <th>ID</th>
 <th>Fecha</th>
 <th>Hora</th>
 <th>Paciente</th>
 <th>Medico</th>
 <th>Estado</th>
 <th>Observaciones</th>
</tr>

<% for(var i = 0; i < citas.length; i++) { %>
<tr>
<td><%= citas[i].idcita %></td>
<td><%= citas[i].citfecha %></td>
<td><%= citas[i].cithora %></td>
<td><%= citas[i].citPaciente %></td>
<td><%= citas[i].citMedico %></td>
<td><%= citas[i].citestado %></td>
<td><%= citas[i].citobservaciones %></td>
</tr>
<% } %> 

</table>
</div>
</div>

</body>


</html>